<section id="blocks">
  <div class="container">
    <h1 class="text">About</h1>
    <p class="section-text">Do you know that book on the shelf, have you read it and never read it again? Here is his place !!! Make your <a href="/signup">registration</a> and come change your book in kitab.</p>

    <div class="mar">
      <article class="col col-3 service-box">
        <h4 class="abouttitle">Post</h4>
        <p>Register your books for exchange.</p>
      </article>

      <article class="col col-3 service-box">
        <h4 class="abouttitle">Interest</h4>
        <p>Search the site for which books you would like to read. To facilitate, use the search bar at the top of the page. Select as many as you want.</p>
      </article>

      <article class="col col-3 service-box">
        <h4 class="abouttitle">Find someone</h4>
        <p>If the book you want was made available by someone, ask for it immediately. If he is interested in any of your books, just combine the exchange !!</p>
      </article>
    </div>
  </div>
</section>