<section>

<div>
  <h1>Book Gallery</h1>
    {{#each books}}
      <div>
        <img src={{this.img}} alt="">
      </div>
      <h3>{{this.title}}</h3>
      <span><b>{{this.author}}</b></span>
      <p>{{this.description}}</p>
    {{/each}}
</div>

</section> 