<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Books</h3>
    </div>
    <div class="panel-body">
        <div class="row">
                <div class="col">
                    {{#each books}}
                        {{>books}}
                    {{/each}}
            </div>
        </div>
    </div>
</div>