<div class="book" style="width: 33.333%;">
      <img class="book-img" src= {{#}} alt="">
      <div class="book-body">
        <h5 class="book-title">{{#}}</h5>
        <p class="book-description">{{#}}</p>
        <a href="#">Detail</a>
      </div>
</div>
